/auth/.env.local
/auth/.env
/auth/.next
/auth/node_modules

/frontend/.env.local
/frontend/.next
/frontend/node_modules

/meter-getter/.env.local
/meter-getter/.next
/meter-getter/node_modules

/meter-setter/.env.local
/meter-setter/.next
/meter-setter/node_modules

/user-management/.env.local
/user-management/.next
/user-management/node_modules

/auth-legacy/.env.local
/auth-legacy/.env
/auth-legacy/.next
/auth-legacy/node_modules

/smh-manager/.env.local
/smh-manager/.env
/smh-manager/.next
/smh-manager/node_modules

/meter-manager/.env.local
/meter-manager/.env
/meter-manager/.next
/meter-manager/node_modules

/meter-manager/create-meter-service/node_modules
/meter-manager/delete-meter-service/node_modules
/meter-manager/get-meter-service/node_modules
/meter-manager/update-meter-service/node_modules

/smh-manager/create-hub-service/node_modules
/smh-manager/delete-hub-service/node_modules
/smh-manager/get-hub-service/node_modules
/smh-manager/update-hub-service/node_modules

/meter-manager-soa/.env.local
/meter-manager-soa/.env
/meter-manager-soa/.next
/meter-manager-soa/node_modules


/mock_data/individuals
/mock_data/halfhourly_dataset


node_modules
