/auth/.env.local
/auth/.next
/auth/node_modules

/frontend/.env.local
/frontend/.next
/frontend/node_modules

/meter-getter/.env.local
/meter-getter/.next
/meter-getter/node_modules

/meter-setter/.env.local
/meter-setter/.next
/meter-setter/node_modules

/user-management/.env.local
/user-management/.next
/user-management/node_modules


/mock_data/individuals
/mock_data/halfhourly_dataset


